.switch {
  width: 15%;
  height: 6%;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  cursor: pointer;
}

.switch[data-isOn="true"] {
  justify-content: flex-end;
}

/* .handle {
  background-color: rgb(58, 56, 56);
} */
